.chatapp-container{
    display: flex; 
  align-items: center; 
  justify-content: space-between; 
  gap: 20px; 
  padding: 40px; 
  color: #002768;
  height: 100vh;
}
.chatapp-left{
    flex: 0.2;
    border: 1px solid #ddd;
}
.chatapp-right{
    flex: 0.8;
}